healthsystem=4

exhaust_move=0.003,0.003,0.003
exhaust_swim=0.06,0.03,0.04
exhaust_jump=0.07,0.07,0.07
exhaust_attack=0.08,0.08,0.08
exhausted_damage=5,5,5

dive_time=30000
dive_damage=5

default_itemmodel=gfx\model.b3d
projectile_lifetime=15000
firerange=50

dig_time=2500
fish_time=2500

rainratio=15
snowratio=35

scriptlooptimeout=5000

